@model _19033684_Kumar_Pulami.Models.ViewModel.Terminal.TerminalViewModel

@{
    ViewData["Title"] = "SubjectEntry";
    Layout = "~/Views/Shared/MainLayout.cshtml";
}

<br>
<br>
<h3>Register Terminal</h3>
<hr/>
<div class="row">
    <div class="col-md-4">
        <form asp-action="TerminaltEntry" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="TerminalID" class="control-label"></label>
                <input asp-for="TerminalID" class="form-control" />
                <span asp-validation-for="TerminalID" class="text-danger"></span>
            </div>
            <br>
            <div class="form-group">
                <label asp-for="TerminalName" class="control-label"></label>
                <input asp-for="TerminalName" class="form-control" />
                <span asp-validation-for="TerminalName" class="text-danger"></span>
            </div>
            <div class="row form-group">
                <div class="col">
                    <br>
                    <br>
                    <input type="submit" value="Register Terminal" class="btn btn-success" />
                    <br>
                    <br>
                </div>
            </div> 
        </form>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
